.reset{
    margin-top: 70px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;


}
.email{
    margin-bottom: 20px;
}

.login{
    margin-left: 25px;
    margin-right: 25px;
}
h1{
    text-align: center;
    margin-bottom: 100px;
}