<ion-header>
  <ion-toolbar>
    <ion-title>list items</ion-title>
    <ion-icon name="chevron-back-outline" (click)="back()"></ion-icon>Back
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-reorder-group disabled="false">
      <ion-item>
        <ion-label>Biscut</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
      <ion-item>
        <ion-label>Suger</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
      <ion-item>
        <ion-label>Vegitable</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
      <ion-item>
        <ion-label>Anchor</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
      <ion-item>
        <ion-label>Chocolate</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

</ion-content> 
